.head {
  position: relative;
  display: flex;
  align-content: center;
  // justify-content: center;
  height: 783px;
  &__wrapper {
    position: relative;
  }
  &__descp {
    position: relative;

    button {
      margin-top: 130px;
    }
    &-coffee {
      position: absolute;
      display: flex;
      bottom: 30px;
      left: 60%;
      width: 390px;
      p {
        font-weight: 600;
        font-size: 14px;
        line-height: 19.77px;
        span {
          color: $yellow;
        }
      }
    }
  }

  h1 {
    font-weight: 700;
    font-size: 68px;
    line-height: 79px;
    font-family: "Source Serif Pro", serif;
    span {
      font-weight: 700;
      font-family: "Source Serif Pro", serif;
      font-size: 48px;
      line-height: 67px;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.aboutme {
  &__wrapper {
    background-color: $white;
    position: relative;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   left: 50%;
    //   transform: translate(-50%);
    //   top: -100px;
    //   width: 120%;
    //   height: 200px;
    //   border-radius: 50%;
    //   background-color: $white;
    // }
    &-bg {
      position: absolute;
      bottom: 0;
      // z-index: -1;
      left: 50%;
      width: 100%;
      transform: translate(-50%);
      img {
        width: 100%;
      }
    }
    &-nobg {
      position: relative;
    }
  }
  &__up {
    position: relative;
    display: flex;
    transform: translate(0, -120px);
    justify-content: space-between;
    // z-index: 10;
    &-item {
      width: 29%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.06);
      border-radius: 10px;
      min-height: 116px;
      transform: skew(-9deg, 0deg);

      img {
        margin-right: 20px;
        transform: skew(9deg, 0deg);
      }
      p {
        font-size: 14px;
        font-weight: 600;
        max-width: 217px;
        transform: skew(9deg, 0deg);
      }
    }
  }
  &__mid {
    &-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .title {
      margin-bottom: 40px;
    }
    p {
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 14px;
      span {
        color: $yellow;
      }
    }
    &-items {
      margin-top: 30px;
    }
    &-item {
      display: flex;
      align-items: center;
      img {
        width: 82px;
        margin-right: 20px;
      }
      p {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 0;
      }
    }
  }
}

.activities {
  &__wrapper {
    padding-top: 100px;
    position: relative;
    &-up {
      position: absolute;
      width: 100%;
      left: 50%;
      transform: translate(-50%);
      background-color: $white;
      border-radius: 50%;
      height: 100px;
      top: -50px;
    }
  }
  &__cards {
    margin-top: 40px;
  }
  &__card {
    margin-bottom: 20px;
    padding-bottom: 20px;
    background: #ffffff;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
    &-img {
      width: 100%;
      transform: skew(-5deg, 0deg) rotate(-5deg) translate(0, 16px);
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      margin-left: 2px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    &-descp {
      z-index: 1;
      background-color: $white;
      position: relative;
      width: 100%;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      height: 120px;
      display: flex;
      align-items: center;
      padding-left: 23px;
      padding-right: 23px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.06);
    }
    &:hover {
      transform: rotate(5deg);
    }
  }
}

.contactme {
  &__wrapper {
    padding-top: 150px;
    padding-bottom: 120px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    button {
      width: 100%;
      margin-top: 20px;
    }
    &-form {
      display: flex;
      flex-direction: column;
      margin-top: 32px;
    }
    &-up {
      display: flex;
      align-items: center;
      img {
        margin-right: 16px;
      }
      p {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        span {
          line-height: 25px;

          font-weight: 700;
          font-size: 18px;
          color: $yellow;
        }
      }
    }
  }
  &__descp {
    text-align: right;
    .title {
      margin-bottom: 60px;
    }
    &-items {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
    }
    &-item {
      display: flex;
      align-items: center;
      p {
        font-weight: 600;
        font-size: 14px;
        text-align: right;
        line-height: 19.7px;
        max-width: 276px;
        margin-right: 30px;
      }
    }
  }
}

.cooperation {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__wrapper {
    height: 754px;
    position: relative;
    &-bg {
      width: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      img {
        width: 100%;
      }
    }
  }
  .title {
    margin-bottom: 47px;
    h2 {
      color: $white;
      span {
        color: $white;
      }
    }
  }
  &-item {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin-bottom: 35px;
    &-img {
      width: 57px;
      display: flex;
      justify-content: center;
    }
    img {
      margin-top: 5px;
      object-fit: contain;
    }
    &-descp {
      max-width: 224px;
      margin-left: 18px;
      h4 {
        font-weight: 700;
        font-size: 16px;
        color: $white;
        margin-bottom: 6px;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        color: $white;
      }
    }
  }
  &-bord {
    margin-top: 30px;
    background: #ffffff;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 30px 80px;
    transform: skew(-9deg, 0deg);
    position: relative;
    h4 {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 14px;
      margin-left: -7px;
      transform: skew(9deg, 0deg);

      span {
        color: $yellow;
      }
    }
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      transform: skew(9deg, 0deg);
    }
    &-img {
      position: absolute;
      bottom: -60px;
      left: -50px;
      transform: skew(9deg, 0deg);
    }
  }
}

.wherespend {
  display: flex;
  justify-content: space-between;
  &__wrapper {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  &__item {
    display: flex;
    align-items: center;
    img {
      margin-right: 30px;
    }
    p {
      font-weight: 600;
      font-size: 16px;
      span {
        font-weight: 400;
      }
    }
  }
  &__text {
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 500;
  }
}
.sochial {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  p {
    text-align: right;
    margin-right: 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.7px;
    span {
      line-height: 19.7px;

      font-size: 14px;
      font-weight: 700;
      color: $yellow;
    }
  }
  img {
    object-fit: contain;
    margin-left: 20px;
  }
}

.calculate {
  padding-top: 55px;
  padding-bottom: 55px;
  &__wrapper {
    position: relative;
    padding-bottom: 1px;
    &-bg {
      width: 100%;
      position: absolute;
      z-index: -1;
      bottom: 0;
      img {
        width: 100%;
      }
    }
  }
  &__title {
    text-align: center;
    h2 {
      margin-bottom: 58px;
      margin-top: 50px;
      span {
        display: block;
        color: $yellow;
        line-height: 40px;
      }
    }
  }
  &__form {
    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-direction: column;
      text-align: center;
      &-wrapper {
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
        border-radius: 15px;
      }
      form {
        max-width: 240px;
        button {
          width: 100%;
        }
      }
      p {
        font-weight: 500;
        font-size: 12px;
        margin-top: 20px;
      }
    }
    &-title {
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 23px;
      font-family: "Source Serif Pro", serif;
      max-width: 230px;
    }
  }
  &-calculate {
    position: relative;
    margin-bottom: 200px;
    background: #ffffff;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    &-bals {
      position: absolute;
      right: -200px;
      top: -150px;
      width: fit-content;
      z-index: -1;
      img {
        width: 100%;
        object-fit: cover;
        width: 348px;
      }
    }
  }

  &__event {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }
  &__range {
    &-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
  &-descp {
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    p {
      color: rgba(82, 68, 51, 0.64);
      transition: 0.5s;
      font-size: 14px;
      font-weight: 500;
      span {
        color: rgba(82, 68, 51, 0.64);
      }
      &.active {
        font-weight: 600;
        color: $black;
        span {
          color: $black;
        }
      }
    }
  }
  &__select {
    &-wrapper {
      h5 {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 19px;
      }
    }
  }
  &__serv {
    &-title {
      margin-bottom: 30px;
    }
    margin-top: 40px;
    &-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &-item {
      display: flex;
      max-width: 310px;
      margin-bottom: 40px;
      h5 {
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 7px;
      }
      p {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}

.photogallery {
  display: flex;
  justify-content: space-between;
  &__content {
    margin-top: 65px;
  }
  &__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    &:hover {
      transform: scale(0.9);
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    &-wrapper {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .mb-20 {
        margin-bottom: 20px;
      }
    }
  }
}
.first-delect {
  width: 310px;
}
.saml-title {
  font-weight: 400 !important;
  font-size: 14px !important;
}
.reviews {
  &__wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &-right {
    &-bottom {
      margin-top: 37px;
      display: flex;
      justify-content: flex-end;
      button {
        margin-left: 30px;
      }
    }
    &-title {
      text-align: right;
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 15px;
      font-family: "Source Serif Pro", serif;
    }
    &-img {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  &-left {
    margin-top: 60px;
    .accordion-button {
      flex-wrap: wrap;
      p {
        max-width: 450px;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
      }
    }
    .accordion-button::after {
      content: none;
    }
    .accordion-item {
      border: none;
      margin-bottom: 30px;
    }
    .accordion-button:focus {
      border-color: unset;
      box-shadow: none;
    }
    .accordion-button:not(.collapsed) {
      box-shadow: none;
    }
    .accordion-button:not(.collapsed) {
      color: unset;
      background-color: transparent;
    }
    .accordion-item .accordion-button {
      align-items: start;
      svg {
        margin-right: 20px;
      }
    }
    .accordion-body {
      padding: 0;
      padding-left: 63px;
      padding-top: 20px;
      padding-bottom: 0px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20.43px;
    }
    &-item {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px;
      svg {
        transition: 0.5s;
        margin-top: 6px;
        circle {
          transition: 0.5s;
        }
      }
      &:hover {
        svg {
          circle {
            &:first-child {
              fill: $yellow;
            }
          }
        }
      }
    }
    &-descp {
      margin-left: 49px;
      display: flex;
      max-width: 400px;
      flex-direction: column;
      h4 {
        margin-bottom: 17px;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
.sochialIcon {
  svg {
    circle {
      transition: 0.5s;
    }
  }
  &:hover {
    svg {
      circle {
        fill: $purple;
      }
    }
  }
}

@include tablet {
  section {
    overflow: hidden;
  }
  .first {
    &-delect {
      width: 250px;
    }
  }
  .head {
    h1 {
      font-size: 54px;
      line-height: 60px;
      span {
        font-size: 24px;
        line-height: 30px;
      }
    }
    &__descp {
      &-coffee {
        left: 0;
        bottom: 60px;
        img {
          overflow: hidden;
        }
      }
      button {
        margin-top: 100px;
      }
    }
  }
  .aboutme {
    &__wrapper {
      overflow: unset !important;
      &-bg {
        overflow: hidden;
      }
    }
    &__up {
      flex-direction: column;
      &-item {
        width: 100%;
        margin-bottom: 12px;
        max-width: 462px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    &__mid {
      flex-direction: column-reverse;
      &-img {
        display: flex;
        justify-content: center;
      }
    }
  }
  .contactme {
    &__wrapper {
      padding-top: 100px;
    }
    &__form {
      flex-direction: row;
      &-up {
        width: 50%;
        p {
          max-width: 210px;
        }
      }
      &-form {
        width: 50%;
      }
    }
    &__descp {
      margin-top: 100px;
      &-item {
        width: 46%;
      }
    }
  }
  .cooperation {
    display: flex;
    justify-content: flex-end;
    position: relative;
    &__wrapper {
      overflow: unset !important;
      &-bg {
        left: 50%;
        height: 100%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &-bord {
      position: absolute;
      width: 100%;
      left: 0;
    }
  }
  .wherespend {
    &__wrapper {
      padding-top: 200px;
    }
    &__text {
      margin-top: 10px;
    }
    &__item {
      margin-bottom: 22px;
    }
  }
  .sochial p {
    display: none;
  }
  .calculate {
    padding-left: 25px;
    padding-right: 25px;
    &__form {
      &-title {
        max-width: 380px;
        margin-top: 48px;
      }
      &-wrapper {
        margin-bottom: 40px;
        form {
          max-width: unset;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          input {
            width: 48%;
          }
        }
      }
    }
  }
  .photogallery {
    &__item {
      &-mobile {
        max-height: 216px;
        overflow: hidden;
      }
    }
  }
  .reviews {
    flex-direction: column-reverse;
    &-right {
      &-bottom {
        display: flex;
        justify-content: space-between;
        button {
          margin-left: 0;
          width: 48%;
        }
      }
    }
  }
  .activities {
    &__wrapper {
      overflow: unset;
      &-up {
        width: 100%;
      }
    }
  }
}

@include mobile {
  .head {
    height: 620px;
    &__bg {
      img {
        right: 0;
      }
    }
    &__wrapper {
      overflow: unset !important;
      padding-bottom: 60px;
    }
    &__descp {
      position: unset;
      h1 {
        max-width: 250px;
        line-height: 35px;
        font-size: 30px;
        span {
          font-size: 18px;
          line-height: 25px;
        }
      }
      &-coffee {
        left: unset;
        position: unset;
        margin-top: 50px;
        max-width: 240px;
        flex-direction: column;
        flex-wrap: wrap;
        bottom: unset;
        width: unset;
        img {
          object-fit: cover;
          height: 100px;
          width: 100px;
        }
        p {
          max-width: 185px;
        }
      }
      button {
        left: 0;
        position: absolute;
        margin: 0;
        bottom: -40px;
        left: 50%;
        transform: translate(-50%);
        &::after {
          content: "ОБСУДИТЬ МЕРОПРИЯТИ";
          position: absolute;
          background: linear-gradient(180deg, #ffd79b 0, #ffb23e 100%);
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
        }
      }
    }
  }
  .aboutme {
    &__wrapper {
      overflow: unset !important;
    }
    &__up {
      transform: unset;
      margin-top: 40px;
      &-item {
        margin-bottom: 12px;
      }
    }
    &__mid {
      margin-top: 110px;
      position: relative;
      .title {
        margin-bottom: 35px;
      }
      &-item {
        margin-bottom: 20px;
      }
      &-img {
        // position: absolute;
        left: 0;
        width: 100%;
        &-wrapper {
          padding: 0;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .activities {
    &__wrapper {
      padding-top: 50px;
    }
    &__card {
      margin-bottom: 0;
      &-descp {
        // font-size: 18px;
      }
    }
  }
  .contactme {
    &__wrapper {
      padding-bottom: 50px;
    }
    &__form {
      flex-direction: column;
      &-up {
        width: 100%;
        p {
          max-width: unset;
        }
      }
      &-form {
        width: 100%;
      }
    }
    &__descp {
      &-items {
        margin-top: 60px;
        flex-direction: column;
      }
      &-item {
        width: 100%;
        margin-bottom: 23px;
      }
    }
  }
  .cooperation {
    padding-top: 120px;
    align-items: start;
    &-bord {
      bottom: -100px;
      width: 85%;
      left: 50%;
      padding: 30px 35px;
      transform: translate(-50%) skew(-9deg);
      &-img {
        bottom: -80px;
      }
    }
    &__wrapper {
      overflow: unset !important;
      height: 1000px;
      &-bg {
        left: 50%;
        width: 100%;
        img {
          max-height: 1100px;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .sochial {
    align-items: start;
    a {
      &:nth-child(3) {
        display: none;
      }
    }
  }
  .wherespend {
    &__wrapper {
      padding-bottom: 50px;
    }
    &__text {
      margin-top: 20px;
    }
  }
  .calculate {
    &__wrapper {
      padding-bottom: 50px;
      &-bg {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
    &-calculate {
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 40px;
      &-bals {
        display: none;
      }
    }
    &-descp p span {
      display: none;
    }
    &__serv {
      margin-top: 65px;
    }
    &__select {
      &-wrapper {
        margin-bottom: 35px;
      }
    }
    &__event {
      display: flex;
      flex-direction: column;
      .select {
        width: 100%;
      }
    }
    &__form {
      &-wrapper form input {
        width: 100%;
      }
      &-title {
        margin-top: 10px;
      }
    }
  }
  .photogallery {
    
    .sochial {
      align-items: flex-end;
    }
    &__item {
      max-height: 500px;
      &-wrapper {
        // max-height: 500px;
        overflow: hidden;
      }
    }
  }
  .reviews {
    &__wrapper {
      padding-top: 80px;
    }
    &-right {
      &-title {
        max-width: 200px;
        margin-left: auto;
      }
      &-bottom {
        margin-top: 20px;
        flex-direction: column;
        button {
          width: 100%;
          margin-bottom: 12px;
        }
      }
    }
    &-left {
      .accordion-button p {
        max-width: 320px;
      }
    }
  }
  .reviews-left .accordion-button p {
    font-size: 14px;
    max-width: 250px;
    line-height: 18px;
  }
  .reviews-left .accordion-body {
    padding-top: 0;
  }
  .reviews {
    &__wrapper {
      padding-bottom: 50px;
    }
  }
}
