.head {
  position: relative;
  display: flex;
  align-content: center;
  // justify-content: center;
  height: 783px;
  &__wrapper {
    position: relative;
  }
  &__descp {
    position: relative;
    h1 {
    }
    button {
      margin-top: 130px;
    }
    &-coffee {
      position: absolute;
      display: flex;
      bottom: 30px;
      left: 60%;
      width: 390px;
      p {
        font-weight: 600;
        font-size: 14px;
        line-height: 19.77px;
        span {
          color: $yellow;
        }
      }
    }
  }

  h1 {
    font-weight: 700;
    font-size: 68px;
    line-height: 79px;
    span {
      font-weight: 700;
      font-size: 48px;
      line-height: 67px;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.aboutme {
  &__wrapper {
    background-color: $white;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      top: -100px;
      width: 120%;
      height: 200px;
      border-radius: 50%;
      background-color: $white;
    }
    &-bg {
      position: absolute;
      bottom: 0;
      // z-index: -1;
      left: 50%;
      width: 100%;
      transform: translate(-50%);
    }
    &-nobg {
      position: relative;
    }
  }
  &__up {
    position: relative;
    display: flex;
    justify-content: space-between;
    // z-index: 10;
    &-item {
      width: 29%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.06);
      border-radius: 10px;
      min-height: 116px;
      transform: skew(-9deg, 0deg);

      img {
        margin-right: 20px;
        transform: skew(9deg, 0deg);
      }
      p {
        font-size: 14px;
        font-weight: 600;
        max-width: 217px;
        transform: skew(9deg, 0deg);
      }
    }
  }
  &__mid {
    &-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .title {
      margin-bottom: 40px;
    }
    p {
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 14px;
      span {
        color: $yellow;
      }
    }
    &-items {
      margin-top: 30px;
    }
    &-item {
      display: flex;
      align-items: center;
      img {
        width: 82px;
        margin-right: 20px;
      }
      p {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 0;
      }
    }
  }
}

.activities {
  &__wrapper {
    padding-top: 100px;
    position: relative;
    &-up {
      position: absolute;
      width: 120%;
      left: 50%;
      transform: translate(-50%);
      background-color: $white;
      border-radius: 50%;
      height: 100px;
      top: -50px;
    }
  }
  &__cards {
    margin-top: 40px;
  }
  &__card {
    margin-bottom: 20px;
    padding-bottom: 20px;
    background: #ffffff;
    border-radius: 15px;
    transition: 0.5s;
    &-img {
      width: 100%;
      transform: skew(-5deg, 0deg) rotate(-5deg) translate(0, 16px);
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      margin-left: 2px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    &-descp {
      z-index: 1;
      background-color: $white;
      position: relative;
      width: 100%;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      height: 120px;
      display: flex;
      align-items: center;
      padding-left: 23px;
      padding-right: 23px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.06);
    }
    &:hover {
      transform: rotate(5deg);
    }
  }
}

.contactme {
  &__wrapper {
    padding-top: 150px;
    padding-bottom: 120px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    button {
      width: 100%;
      margin-top: 20px;
    }
    &-form {
      display: flex;
      flex-direction: column;
      margin-top: 32px;
    }
    &-up {
      display: flex;
      align-items: center;
      img {
        margin-right: 16px;
      }
      p {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        span {
          line-height: 25px;

          font-weight: 700;
          font-size: 18px;
          color: $yellow;
        }
      }
    }
  }
  &__descp {
    text-align: right;
    .title {
      margin-bottom: 60px;
    }
    &-items {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
    }
    &-item {
      display: flex;
      align-items: center;
      p {
        font-weight: 600;
        font-size: 14px;
        text-align: right;
        line-height: 19.7px;
        max-width: 276px;
        margin-right: 30px;
      }
      img {

      }
    }
  }
}


.cooperation {
  position: relative;
  &__wrapper {
    position: relative;
    &-bg {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
    }
  }
  .title {
    h2 {
      color: $white;
      span {
        color: $white;
      }
    }
  }
  &-item {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    img {
      margin-top: 5px;
      object-fit: contain;
    }
    &-descp {
      max-width: 224px;
      margin-left: 18px;
      h4 {
        font-weight: 700;
        font-size: 16px;
        color: $white;
        margin-bottom: 6px;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        color: $white;
      }
    }
  }
}