.select {
  margin: 0 auto;
  position: relative;
  width: 240px;
}
.select.is-active .select__body {
  display: block;
}

.select__header {
  border: 1px solid #ededed;
  cursor: pointer;
  display: flex;
  border-radius: 10px;
}
.select__current {
  padding: 8px;
  padding-left: 41px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.select__icon {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  height: 59px;
  margin-left: auto;
  text-align: center;
  width: 40px;
  margin-right: 10px;
}

.select__body {
  z-index: 11;
  border-top: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 110%;
  padding: 40px;
  padding-top: 0;
  padding-bottom: 0;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
}
.select__item {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  // padding: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $white;
  transition: 0.5s;
  border-bottom: 1px solid #ebebeb;
  font-weight: 700;
  font-size: 14px;
  &:last-child {
    border-bottom: 0px solid #000;
  }
}

.select__item:hover {
  color: $yellow;
}
.calculate__range {
  position: relative;
  .bar {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 28px;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #F7F7F7;
    .fill {
      display: block;
      width: 0;
      height: 100%;
      background-color: #ffd79b;
    }
  }
  .slider {
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    z-index: 2;
    border-radius: 5px;
    outline: none;
    background: transparent;
  }
  .slider {
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 23px;
      height: 23px;
      background: linear-gradient(180deg, #ffd79a 0%, #ffb442 100%);
      border-radius: 50%;
      cursor: pointer;
      outline: none;
    }
  }
}
