// $lightBlack: #46454f;
// $lightBlue: #f4f7fa;
// $blue: #37577c;
$white: #fff;
$black: #524433;
$yellow: #f6a223;

// $orange: #f7931e;
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
  color: $black;
}
section {
  // overflow: hidden;
}
.noOverflow {
  overflow: visible;
}
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0px;
}

body {
  &.active {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: unset;
  &:hover {
    color: unset;
  }
}
p {
  margin: 0;
}
button {
  position: relative;
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.btn {
  &-yellow {
    background: linear-gradient(180deg, #ffd79b 0%, #ffb23e 100%);
    border-radius: 10px;
    font-weight: 600;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;
    border: none;
    height: 60px;
    width: 286px;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #f7a223;
      box-shadow: -6px 12px 33px rgba(242, 163, 43, 0.62);
      border-radius: 10px;
      bottom: -4px;
      z-index: -1;
      transition: 0.5s;
    }
    &:hover {
      &::before {
        bottom: 0;
      }
    }
  }
}
.title {
  h2 {
    font-size: 36px;
    font-weight: 400;
    span {
      font-size: 36px;
      font-weight: 700;
    }
  }
}
