@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
$white: #fff;
$black: #524433;
$yellow: #f6a223;
$purple: #D7B1E0;

// $orange: #f7931e;
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
  color: $black;
}

.noOverflow {
  overflow: visible;
}
body {
  overflow-x: hidden;
  max-width: 100vw;
}
body::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
}
body::-webkit-scrollbar-thumb {
  background-color: $yellow;
}

body {
  &.active {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: unset;
  &:hover {
    color: unset;
  }
}
p {
  margin: 0;
}
button {
  position: relative;
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.btn {
  &-purple {
    background: linear-gradient(180deg, #F2DEF7 0%, #D7B1E0 100%);
    border-radius: 10px;
    font-weight: 600;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.2s;
    border: none;
    height: 60px;
    width: 286px;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #C286D1;
      box-shadow: -6px 12px 33px rgba(194, 134, 209, 0.46);
      border-radius: 10px;
      bottom: -4px;
      z-index: -1;
      transition: 0.2s;
    }
    &:hover {
      &::before {
        bottom: 0;
      }
    }
  }
  &-yellow {
    background: linear-gradient(180deg, #ffd79b 0%, #ffb23e 100%);
    border-radius: 10px;
    font-weight: 600;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.2s;
    border: none;
    height: 60px;
    width: 286px;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #f7a223;
      box-shadow: -6px 12px 33px rgba(242, 163, 43, 0.62);
      border-radius: 10px;
      bottom: -4px;
      z-index: -1;
      transition: 0.2s;
    }
    &:hover {
      &::before {
        bottom: 0;
      }
    }
  }
}
.title {
  h2 {
    font-family: "Source Serif Pro", serif;
    font-size: 36px;
    font-weight: 400;
    span {
      font-family: "Source Serif Pro", serif;
      font-size: 36px;
      font-weight: 700;
    }
  }
}
.input {
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 10px;
  margin-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
  height: 59px;
  width: 100%;
  
  display: flex;
  align-items: center;
  &::placeholder {
    color: rgba(88, 88, 88, 0.57);
  }
}

.custom-checkbox > input {
  position: absolute;
  z-index: -1;
  transition: 0.5;
  opacity: 0;
}
.custom-checkbox > span {
  display: inline-flex;
  // align-items: center;
  transition: 0.5;
  user-select: none;
}
.custom-checkbox > span::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 50%;
  border: 7px solid #f6f6f6;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #f6f6f6;
  transition: 0.5;
}

// .custom-checkbox>input:not(:disabled):active+span::before {
//   background-color: #b3d7ff;
//   border-color: #b3d7ff;
// }
// .custom-checkbox>input:not(:disabled):active+span::before {
//   background-color: #b3d7ff;
//   border-color: #b3d7ff;
// }
// .custom-checkbox>input:focus:not(:checked)+span::before {
//   border-color: #80bdff;
// }
.custom-checkbox > input:checked + span::before {
  border-color: #f6f6f6;
  border: 7px solid #f6f6f6;
  transition: 0.5s;
  background: linear-gradient(180deg, #ffd79a 0%, #ffb442 100%);
}
// .custom-checkbox>input:disabled+span::before {
//   background-color: #e9ecef;
// }
// @include tablet {
//   .title {
//     h2 {

//     }
//   }
// }

@include mobile {
  .btn-yellow  {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    h2 {
      font-size: 30px;
      span {
        font-size: 30px;
      }
    }
  }
}